<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This is FHIR Server being run as a POC for 
			<a href="http://www.mindlinc.com/"> Holmusk MindLinc Electronic Health Record (EHR) </a> 
			system built exclusively for mental health disorders.
		</p>
		<p>
			This server is built
			from a number of modules of the
			<a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
			project, which is a 100% open-source (Apache 2.0 Licensed) Java based
			implementation of the FHIR specification.
		</p>
	</div>
</html>
